<!-- <form #forms="ngForm" (ngSubmit)="formsubmit(forms.value)">
<input type="text" name="name" #name="ngModel"  ngModel>
<input type="text" name="lastname" #lastname="ngModel" ngModel>
<button type="submit">valider</button>
</form> -->

<!-- {{date | date:"shortDate"}} <br> <br><br><br><br><br>

{{num | number: "1.0-2" }} <br><br><br><br><br><br><br><br>
{{per | percent}} <br><br><br><br><br>


{{per | currency : "EUR" }} -->

<!--
   lowercase
uppercase
titlecase
slice::
json
date / short-medium-long
number
percent -->




<!-- <form #forms="ngForm" (ngSubmit)="formsubmit(forms.value)">
  <input type="text" name="chouaib"  ngModel>
  <input type="text" name="amdouni" ngModel>
  <button type="submit">valider</button>
  </form> -->











<router-outlet></router-outlet>



